/*principal*/

$violet: #9356dc;
$rose: #ff79da;
$bleu_clair: #99e2d0;


.border_bottom {
  border-bottom: 3px solid $bleu_clair;
  width: 40px;
  margin-left: 20px;
  padding-top: 30px;
}
.background_color_light_gray {
  background-color: rgb(241, 240, 240);
}
.background_color_gray {
  background-color: rgb(209, 205, 205);
}
.background_color_dark_gray {
  background-color: rgb(77, 73, 73);
}
.background_color_green {
  background-color: $bleu_clair;
}

