
  .titre_police {
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .police_text_gras {
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 5px;
  }
  
  .police_text {
    font-size: 1.2rem;
  }
  
  .button_police {
    font-weight: 500;
    font-size: 1.1rem;
    color: white;
  }
  
  .text_align_center {
    text-align: center;
  }