header {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  img {
    width: 50%;
    height: 50%;
  }
  i {
    padding-right: 70px;
  }
}
.accueil {
  display: flex;
  justify-content: center;
  padding: 20px;
}
