@import "variables";
@import "reset";
@import "header";
@import "footer";

body {
  width: 100%;
  height: 100vh;
}

h2 {
  padding-left: 20px;
}

.border_shadow {
  box-shadow: 2px -2px rgb(209, 205, 205);
}

/********carte_menu**********/
.carte {
  border-radius: 20px;
  width: 300px;
  height: 250px;
}

.carte_image {
  width: 300px;
  height: 150px;
  min-width: 290px;
}

.carte_image img {
  border-radius: 20px 20px 0px 0;
  width: 300px;
  height: 150px;
}

.carte_body {
  width: 280px;
  padding-left: 10px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

/*************menu à la française**********/
.menu_img {
  width: 100%;
  height: 300px;
  z-index: -1;
  position: relative;

  img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

#carte_menu {
  border-radius: 20px 20px 0px 0px;
  margin-top: -40px;
  width: 100%;
  z-index: 2;
}

#plat {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

/******media format téléphone */
@media only screen and (min-width: 768px) {
  header {
    justify-content: center;
  }
  header div {
    display: flex;
  }

  .Fonctionnement_button button {
    width: 90%;
    font-size: 15px;
    font-weight: bolder;
  }
}

@media only screen and (min-width: 992px) {
  body {
    width: 100%;
  }

  #Fonctionnement h2 {
    text-align: center;
  }

  #Fonctionnement div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    button {
      width: 300px;
    }
  }

  #Restaurants h2 {
    text-align: center;
  }
}
