/*principal*/

$violet : #9356DC;
$rose : #FF79DA;
$bleu_clair : #99E2D0;

/**************background et police**************/
.border_bottom {
border-bottom: 3px solid $bleu_clair;
width: 30px;
padding-left: 20px;
}
.background_color_light_gray {
  background-color: rgb(241, 240, 240);
}
.background_color_gray {
  background-color: rgb(209, 205, 205);
}
.background_color_dark_gray {
  background-color: rgb(77, 73, 73);
}
.background_color_green {
  background-color: $bleu_clair;
}

.police_white {
  color: white;
}

.police_title {
  font-size: 1.5rem;
  font-weight: 700;
}

.police_text_gras {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 5px;
}

.police_text {
  font-size: 1.2rem;
}

.police_button {
  font-weight: 500;
}

.text_align_center {
  text-align: center;
}

/****button********/

button {
  width: 235px;
  height: 50px;
}

.raduis {
  border-radius: 30px;
  border: none;
}

.btn_menu {
  background: linear-gradient(
    4deg,
  $violet 21%,
   $rose 73%
  );
}
.position_btn {
  margin-left: -30px;
}

.cercle_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $violet;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
/********espacement*******/
.div_centrer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu_div {
display: flex;
justify-content: space-between;
}
.icon_espace {
  padding-right: 10px;
}

.margin_top_bottom {
  margin-top: 20px;
  margin-bottom: 20px;
}

.margin_left {
  margin-left: 200px;
}

.padding_element {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.padding_element_text {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.padding_section_haut {
  padding-top: 40px;
}

.padding_espacement_bas {
  padding-bottom: 40px;
}

/************display*******/
.flex {
  display: flex;
  justify-content: center;
}

.block {
  display: block;
}

/**************position**************/
.z_index1 {
  position: absolute;
  z-index: 1;
}
.z_index2 {
  position: absolute;
  z-index: 2;
}

/***********Titre*********/