@charset "UTF-8";
/*principal*/
.border_bottom {
  border-bottom: 3px solid #99e2d0;
  width: 40px;
  margin-left: 20px;
  padding-top: 30px;
}

.background_color_light_gray {
  background-color: rgb(241, 240, 240);
}

.background_color_gray {
  background-color: rgb(209, 205, 205);
}

.background_color_dark_gray {
  background-color: rgb(77, 73, 73);
}

.background_color_green {
  background-color: #99e2d0;
}

.titre_police {
  font-size: 1.5rem;
  font-weight: 700;
}

.police_text_gras {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 5px;
}

.police_text {
  font-size: 1.2rem;
}

.button_police {
  font-weight: 500;
  font-size: 1.1rem;
  color: white;
}

.text_align_center {
  text-align: center;
}

button {
  width: 235px;
  height: 50px;
  border-radius: 30px;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 2px 4px rgb(209, 205, 205);
}

.btn_menu {
  background: linear-gradient(4deg, #9356dc 21%, #ff79da 73%);
}

.position_btn {
  margin-left: -30px;
}

.cercle_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9356dc;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "roboto", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  line-height: 1;
}

/********espacement*******/
.div_centrer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 40px;
  justify-content: space-between;
}
.div_centrer button {
  margin-top: 20px;
  font-size: 15px;
  font-weight: bolder;
}

.menu_div {
  display: flex;
  justify-content: space-between;
}

.icon_espace {
  padding-right: 10px;
}

.margin_top_bottom {
  margin-top: 30px;
  margin-bottom: 30px;
}

.margin_left {
  margin-left: 200px;
}

.padding_element {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.padding_element_text {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/************display*******/
.flex {
  display: flex;
  justify-content: center;
}

.block {
  display: block;
}

/**************position**************/
.z_index1 {
  position: absolute;
  z-index: 1;
}

.z_index2 {
  position: absolute;
  z-index: 2;
}

header {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}
header img {
  width: 50%;
  height: 50%;
}
header i {
  padding-right: 70px;
}

.accueil {
  display: flex;
  justify-content: center;
  padding: 20px;
}

footer {
  background-color: rgb(77, 73, 73);
  width: 100%;
  color: white;
}
footer h2 {
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: large;
}
footer li {
  font-size: 12px;
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 10px;
}
footer i {
  padding-right: 10px;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "roboto", sans-serif;
}

h2 {
  padding-left: 20px;
  padding-top: 30px;
}

/********carte_menu**********/
.carte {
  border-radius: 20px;
  width: 300px;
  height: 250px;
}

.carte_image {
  width: 300px;
  height: 150px;
  min-width: 290px;
}

.carte_image img {
  border-radius: 20px 20px 0px 0;
  width: 300px;
  height: 150px;
}

.carte_body {
  width: 280px;
  padding-left: 10px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

/*************menu à la française**********/
.menu_img {
  width: 100%;
  height: 300px;
  z-index: -1;
  position: relative;
}
.menu_img img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#carte_menu {
  border-radius: 20px 20px 0px 0px;
  margin-top: -40px;
  width: 100%;
  z-index: 2;
}

#plat {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
#plat:hover {
  background-color: #99e2d0;
  transform: translateY(20px, 20px);
}

/******media format téléphone */
@media only screen and (min-width: 768px) {
  header {
    justify-content: center;
  }
  header div {
    display: flex;
  }
}
@media only screen and (min-width: 992px) {
  body {
    width: 100%;
  }
  #Fonctionnement h2 {
    text-align: center;
  }
  #Fonctionnement div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  #Fonctionnement div button {
    width: 300px;
  }
  #Restaurants h2 {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
